/*Farbcodebestimmung*/
:root {
    --black: #000000; /*für Schrift im Footer*/
    --dark-gray: #372e2e; /*weiss nicht für was, wird in Figma aufgelistet*/
    --background-blue: #11111b; /*für Hintergrund*/
    --box-blue: #1c1c2c; /*für Box im Hintergrund*/
    --header-blue: #37466f; /*für Header und Footer*/
    --light-blue: #9eb1e4; /*für Grad Zahl und Titelschrift*/
    --whithe: #FFFFFF; /*für Standort und Text unter dem Titel*/
}

header {
    width: 100%;
    background-color: var(--header-blue);
    margin: 0;
}

h1 {
    font-family: "Alatsi", sans-serif;
    font-size: 64px;
    /* font-weight: 400; bestimmt die dicke der Schrift */
    font-style: normal;
    color: var(--light-blue);
    margin-bottom: 10px;
}

body {
    background-color: var(--background-blue);
    margin: 0;
    padding: 0;
}

.text1 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    /*font-weight: 400;*/
    font-style: regular;
    color: var(--whithe);
}

.text2 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    /*font-weight: 400;*/
    font-style: regular;
    color: var(--black);
}

.gradanzeige p {
    font-family: "Alatsi", sans-serif;
    font-size: 96px;
    /* font-weight: 400; bestimmt die dicke der Schrift */
    font-style: normal;
    color: var(--light-blue);
    margin: 0;
    padding: 0;
}

.ortanzeige {
    font-family: "Alatsi", sans-serif;
    font-size: 48px;
    /* font-weight: 400; bestimmt die dicke der Schrift */
    font-style: normal;
    color: var(--whithe);
}

div {
    display: block;
    unicode-bidi: isolate;
}

.menuline {
    width: 100%;
    background-color: var(--dark-blue);
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
}

.hero {
    background-color: var(--gray-blue);
    padding-top: 4vh;
    text-align: center;
}

.herotext {
    margin: auto;
    max-width: 700px;
}

/*Anzeige Wetter, Temperatur, Standort*/
.wetteranzeige {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-gap:30px;
    justify-content: center;
}

.box {
    background: var(--box-blue);
    border-radius: 14px;
    border: 1px solid var(--box-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--whithe);
    margin-top: 100px;
    margin-bottom: 100px;
  }

/*Icons Wetteranzeige*/
.icon1 {
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -130px;
}

.icon2 {
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -130px;
}

.icon3{
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -130px;
}

footer {
    background-color: var(--header-blue);
    height: 12vh;
    min-height: 120px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    bottom: 0;
}