header {
    width: 100%;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.menuline {
    width: 100%;
    background-color: red;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
}

.button1 {
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.button2 {
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.button3 {
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: var(--dark-blue);
    height: 12vh;
    min-height: 120px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    bottom: 0;
}