/*Farbcodebestimmung*/
:root {
    --black: #000000; /*für Schrift im Footer*/
    --dark-gray: #372e2e; /*weiss nicht für was, wird in Figma aufgelistet*/
    --background-blue: #11111b; /*für Hintergrund*/
    --box-blue: #1c1c2c; /*für Box im Hintergrund*/
    --header-blue: #37466f; /*für Header und Footer*/
    --light-blue: #9eb1e4; /*für Grad Zahl und Titelschrift*/
    --white: #FFFFFF; /*für Standort und Text unter dem Titel*/
}

header {
    width: 100%;
    background-color: var(--header-blue);
    margin: 0;
}

h1 {
    font-family: "Alatsi", sans-serif;
    font-size: 64px;
    /* font-weight: 400; bestimmt die dicke der Schrift */
    font-style: normal;
    color: var(--light-blue);
    margin-bottom: 10px;
}

body {
    background-color: var(--background-blue);
    margin: 0;
    padding: 0;
}

.text1 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    /*font-weight: 400;*/
    font-style: regular;
    color: var(--white);
}

.text2 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    /*font-weight: 400;*/
    font-style: regular;
    color: var(--black);
}

.gradanzeige p {
    font-family: "Alatsi", sans-serif;
    font-size: 96px;
    /* font-weight: 400; bestimmt die dicke der Schrift */
    font-style: normal;
    color: var(--light-blue);
    margin: 0;
    padding: 0;
}

.ortanzeige {
    font-family: "Alatsi", sans-serif;
    font-size: 36px;
    /* font-weight: 400; bestimmt die dicke der Schrift */
    font-style: normal;
    color: var(--white);
    line-height: 1;
}

div {
    display: block;
    unicode-bidi: isolate;
}
/*Header*/
.menuline {
    width: 100%;
    background-color: var(--dark-blue);
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
}

.menuicon:hover {
    transform: scale(0.5) translateY(-5px); /* Adjust scale and translateY for smoother effect */
}

/*Mittelteil*/
.hero {
    background-color: var(--gray-blue);
    padding-top: 4vh;
    text-align: center;
    min-height: 80%;
}

.herotext {
    margin: auto;
    max-width: 700px;
}

/*Anzeige Wetter, Temperatur, Standort*/
.wetteranzeige {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-gap:30px;
    justify-content: center;
}

.box {
    background: var(--box-blue);
    border-radius: 14px;
    border: 1px solid var(--box-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    margin-top: 100px;
    margin-bottom: 100px;
}

.box-link {
    text-decoration: none; /* Entferne die Unterstreichung */
    color: inherit; /* Verwende die Standardtextfarbe */
}

/*Icons Wetteranzeige*/
.icon1 {
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -130px;
}

.icon1:hover {
    transform: scale(0.5) translateY(-5px); /* Adjust scale and translateY for smoother effect */
}

.icon2 {
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -130px;
}
.icon2:hover {
    transform: scale(0.5) translateY(-5px); /* Adjust scale and translateY for smoother effect */
}

.icon3{
    width: 80mm;
    height: 80mm;
    background-image: url(links/wmo_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -130px;
}

.icon3:hover {
    transform: scale(0.5) translateY(-5px); /* Adjust scale and translateY for smoother effect */
}

/*Filterbuttons Chart */
.buttons {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.timeBtn {
    background-color: var(--light-blue);
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    border: none; /* Remove any border */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove any box-shadow */
}

.timeBtn:focus {
    background-color: var(--white); /* Change the background color for the focused button */
}

.timeBtn:hover {
    background-color: var(--header-blue);
    filter: drop-shadow(3px 3px 5px #000000a0);
}

.timeBtnActiv {
    background-color: white;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    border: none; /* Remove any border */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove any box-shadow */
}

/*Chart*/
.chartbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

/*Divfooter*/
.detailfooter {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    background-color: var(--header-blue);
    text-align: center;
    width: 100%;
    padding: 2% 0%
}

@media (max-width:1024px){
 
    .wetteranzeige {
        display: flex;
        overflow-x: auto;
        grid-gap: 20px;
        scroll-snap-type: x mandatory;
    }
    
    .box {
        flex: 1 0 30%;
        scroll-snap-align: center;

    }
    
    .text1{
        padding: 0px 30px;
    }

    .text2{
        font-size: 15px;
        padding: 2% 2%;
    }

    .timeBtn {
        font-size: 14px;
        padding: 4px 15px;
        margin-right: 5px; /* Adjust margin right for smaller screens */
    }

}